<form action="/post" method="post">
    <input type="text" name="article" placeholder="投稿内容を記入してください">
    <input type="submit" value="投稿する">
</form>

<% @articles.each do |article| %>
    <div class="border rounded">
        <p><%= article.article %></p>
        <p><%= User.find_by(id: article.user_id).name %></p>
    </div>
<% end %>